body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('../SPlogo/BGKlogin.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-box {
    display: flex;
    width: 750px;
    min-height: 450px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(8px);
    border-radius: 0px;
    padding: 30px;
    box-shadow: 0px 6px 25px rgba(0,0,0,0.4);
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-right: 30px;
    border-right: 2px solid rgba(255,255,255,0.4);
}
.left .logo {
    width: 300px;
    margin-bottom: 20px;
}

.right {
    flex: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
}
.form-title {
    margin-bottom: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #222;
    text-align: center;
}

.right form {
    width: 100%;
    max-width: 320px;
}

.right input,
.right textarea {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 8px; 
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
    font-size: 14px;
    box-sizing: border-box;
}

.right textarea {
    resize: none;
    height: 80px;
}

.right  form {
    width: 100%;
    max-width: 350px;
    text-align: center; 
}


.right button {
    width: 60%;
    padding: 12px;
    margin-top: 12px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(180deg, #000000, #363535);
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}
.right button:hover {
    background: linear-gradient(180deg, #aaa, #4d4949);
}



