
.sub-domain {

    display: flex;

    width: 100%;

    min-height: 100vh;
}

.has-sub-domain {
    margin: -26px -26px -40px;
}


/* =========================================
   SUB SIDEBAR
========================================= */
.sub-sidebar {

    width: 180px; /* sesuaikan */

    background-color: var(--darker);

    display: flex;

    flex-direction: column;

    align-items: flex-start;

    position: sticky;

    top: 0;

    min-height: 100vh;

    transition: all 0.3s ease;

    box-shadow: 0 0 30px rgba(0,0,0,0.45);

    overflow-y: auto;

    scrollbar-width: thin;

    scrollbar-color: #555 transparent;

    z-index: 10;
}

/* =========================================
   MENU
========================================= */

.sub-sidebar .sub-menu {

    list-style: none;

    padding: 0;

    width: 100%;
}

/* =========================================
   MENU ITEM
========================================= */

.sub-sidebar .sub-menu li {

    margin: 12px 0;

    font-size: 15px;

    cursor: pointer;

    width: 100%;

    text-align: left;

    padding-left: 10px;

    transition: all 0.25s ease;

    position: relative;

    overflow: hidden;
}

.sub-sidebar:hover .sub-menu li {

    text-align: left;

    padding-left: 10px;

    border-radius: 10px;
}

/* =========================================
   LINK
========================================= */

.sub-sidebar .sub-menu a {

    color: var(--text-muted);

    text-decoration: none;

    display: flex;

    align-items: center;

    padding: 12px 14px;

    transition: all 0.25s ease;

    border-radius: 10px;
}

/* =========================================
   ICON
========================================= */

.sub-sidebar .sub-menu a i {

    color: inherit;

    min-width: 24px;

    font-size: 14px;
}

/* =========================================
   HOVER
========================================= */

.sub-sidebar .sub-menu a:hover {

    color: var(--text);

    background:
        rgba(62, 32, 7, 0.886);
}

/* =========================================
   ACTIVE
========================================= */

.sub-sidebar .sub-menu .active > a {

    color: var(--text);

    background:
        linear-gradient(
            90deg,
            rgba(62, 32, 7, 0.886),
            transparent
        );
}

.sub-sidebar .sub-menu .active::after {

    content: "";

    position: absolute;

    top: 0;

    right: 0;

    width: 4px;

    height: 100%;

    background:
        linear-gradient(
            to bottom,
            var(--primary),
            var(--Brown)
        );

    border-radius: 2px;
}

/* =========================================
   TEXT
========================================= */

.sub-sidebar .sub-menu span {

    opacity: 1;

    margin-left: 12px;

    font-size: 13px;

    white-space: nowrap;
}


/* =========================================
   SCROLLBAR
========================================= */

.sub-sidebar::-webkit-scrollbar {

    width: 6px;
}

.sub-sidebar::-webkit-scrollbar-thumb {

    background-color: #555;

    border-radius: 6px;
}

.sub-sidebar::-webkit-scrollbar-thumb:hover {

    background-color: #777;
}

/* =========================================
   SUB CONTENT WRAP
========================================= */

.sub-content-wrap {

    flex: 1;
    background: radial-gradient(120% 160% at 10% 0%, #151515 0, #050505 45%, #000 100%);
    margin: 0;
    margin-top: 5px;
    padding: 26px 26px 40px;
    overflow-y: auto;
}

/* =========================================
   SUB CONTENT
========================================= */

.sub-content {

    width: 100%;

    min-height: 100vh;
}

/* =========================================
   RESPONSIVE 1024
========================================= */

@media (max-width: 1024px) {

    .sub-sidebar {

        transform: translateX(-100%);

        width: 240px;

        align-items: flex-start;
    }

    .sub-sidebar:hover {

        width: 240px;
    }

    .sub-sidebar.is-open {

        transform: translateX(0);
    }

    .sub-content {

        width: 100%;
    }

}

/* =========================================
   RESPONSIVE 768
========================================= */

@media (max-width: 768px) {

    .sub-sidebar {

        width: 240px;
    }

    .sub-content {

        width: 100%;
    }

}

/* =========================================
   RESPONSIVE 480
========================================= */

@media (max-width: 480px) {

    .sub-sidebar {

        width: 240px;
    }

    .sub-sidebar .sub-menu a {

        padding: 11px 12px;
    }

    .sub-sidebar .sub-menu span {

        font-size: 12px;
    }

}